@font-face {
    font-family: Flood;
    src: url("Flood\ Std\ Regular/Flood Std Regular.otf") format("opentype");
}

.Header > h1{
    text-align: center;
    background-color: #FFFFFF;
    color: #354463;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    
}
.main{
    background-image: url("/assets/assets/donation/annie-spratt-427340-unsplash.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #354463;
}
.inner_main{
    background-color: #354463;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.main > h1{
    text-align: center;
    font: normal normal normal 32px/46px Flood;
    letter-spacing: 0px;
    color: #FFFFFF;

}
.Your_information > form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    
}
.Your_information > form > h1{
    grid-row: 1/2;
    grid-column: 1/5;
    color: #FFFFFF;
    padding-left: 5%;

}
.fname{
    grid-row: 2/3;
    grid-column: 1/3;
    color: #FFFFFF;
    padding-left: 10%;
}
.lname{
    grid-row: 2/3;
    grid-column: 3/5;
    color: #FFFFFF;
    
}
.Street_addres{
    grid-row:3/4;
    grid-column: 1/5;
    color: #FFFFFF;
    padding-left: 5%;
}
.city{
    grid-row:4/5;
    grid-column: 1/3;
    color: #FFFFFF;
    padding-left: 10%;
}
.state{
    grid-row: 4/5;
    grid-column: 3/4;
    color: #FFFFFF;
}
.zip_code{
    grid-row: 4/5;
    grid-column: 4/5;
    color: #FFFFFF;
}
.email{
    grid-row: 5/6;
    grid-column: 1/5;
    color: #FFFFFF;
    padding-left: 5%;
}
.Payment > form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.Payment_text{
    grid-row:1/2;
    grid-column: 1/5;
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-left: 5%;
}
.Credit_card{
    grid-row: 2/3;
    grid-column: 1/5;
    color: #FFFFFF;
    padding-left: 5%;
}
.expiration_date{
    grid-row:3/4;
    /* display: flex;
    flex-direction: row; */
    grid-column: 1/3;
    color: #FFFFFF;
    padding-left: 10%;
}
.Security{
    grid-row: 3/4;
    grid-column: 3/5;
    color: #FFFFFF;
}
 /* .payment{
    grid-row: 4/5;
    grid-column: 1/5;
    display: flex;
    flex-direction: ;
}  */
.payment{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.payment > .text1{
    grid-row: 1/2;
    grid-column: 1/4;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0px;
    color: #FFFFFF;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    width: 249px;
    height: 83px;
    padding-bottom: 5%;
}
.payment > .payment_button1{
    grid-row: 2/3;
    grid-column: 1/4;
    text-align: center;
    
    
}
.payment_button2{
    background-color: #C1F7D5;
    width: 249px;
    height: 49px;
    border-color: #C1F7D5;
    border-style: solid;
    border-radius: 100rem;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    cursor: pointer;
}
.payment > Go_back{
    grid-row: 3/4;
    grid-column: 1/4;
}
.Go{
    width: 53px;
    height: 14px;
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #C1F7D5;
    padding-left: 10%;
}

.inner_main > h1{
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}
.name-brand{
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    width: 94px;
    height: 62px;
    padding-top: 5rem;
    width: 74px;
    height: 11px;
}
.contact-us{
    grid-row: 1/2;
    grid-column: 2/3;
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    padding-top: 5rem;
    padding-left: 5rem;
    width: 126px;
    height: 74px;
}
.follow-us-follow-fix{
    grid-row: 2/3;
    grid-column: 1/2;
    width: 68px;
    height: 11px;
}
.learn-more-learn-fix{
    grid-row: 2/3;
    grid-column: 2/3;
}
.footer-climate-change-txt{
    grid-row: 3/4;
    grid-column: 2/3;
    font-family:Flood ;
    margin-right: 100px;
    text-align: right;
    font: normal normal normal 44px/46px Flood;
    letter-spacing: 0px;
    color: #354463;
    width: 181px;
    height: 136px;
    padding-right: 5rem;
    padding-top: 0rem
}
.Follow{

    width: 68px;
    height: 11px;
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    text-decoration: none;
    padding-right: 5rem;
}
.link{
    width: 62px;
    height: 110px;
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    list-style: none; 
}
input{
    background-color: #354463;
    border: none;
    border-bottom: 3px solid #C1F7D5;
    width: 60%;
    color: #FFFFFF;
}
.learn-more-learn-fix{
    grid-row:2/3;
    grid-column: 2/3;
    width: 80px;
    height: 11px;
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    text-decoration: none;
    padding-left: 5rem;
    
}
select{
    background-color: #354463;
    border: none;
    border-bottom: 3px solid #C1F7D5;
    color: #FFFFFF;
}
::placeholder{
    color: #FFFFFF;
}
.Follow > li{
    list-style-type: none;
}
.learn_more > li{
    list-style-type: none;
}
textarea:focus, input:focus{
    outline: none;
}