@font-face {
    font-family: Flood;
    src: url("Flood\ Std\ Regular/Flood Std Regular.otf") format("opentype");
}

body {
    background-color: aliceblue;
    font-family: sans-serif;
    height: 376px;
    width: 667px;
}

.conatiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    height: 100vh;
    width: 100vw;
    margin-top: 50px;

}

.contain {
    font-size: medium;
    font-family: sans-serif;
    grid-row: 1/2;
    grid-column: 1/2;
    font-weight: bold;
    margin-top: -0px;

}

.menu {
    float: right;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 0px;
    margin-right: 50px;

}

.link {
    color: #354463;
    text-decoration: 0px;

    margin-top: 0px;
}

.button {
    background-color: #C1F7D5;
    border-color: #C1F7D5;
    border-style: solid;
    height: 50px;
    width: 250px;
    border-radius: 100px;
    cursor: pointer;
    text-align: center;
    grid-row: 2/3;
    grid-column: 1/3;

}

.container1 {
    background-image: url("/Stylesheet/Image/Home.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100vw;
}
.container1 > h3{
    font-family:Flood ;
    margin-right: 100px;
    width: 181px;
    height: 136px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 44px/46px Flood ;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.The_Issue {
    background-color: #354463;
    text-align: center;
    height: 30px;
    width: 170px;
    position: absolute;
    top: 170px;
    left: 130px;
    padding-top: 15px;
    color: white;
}

.Text {
    background-color: white;
    height: 260px;
    width: 330px;
    position: absolute;
    top: 200px;
    left: 50px;
    text-align: center;
    font-size: medium;

}

.climate {
    position: absolute;
    top: 30px;
    font-weight: 200;
    font-size: 20px;
    font-weight: bold;
}

.read_more {
    position: absolute;
    bottom: 40px;
    right: 25px;
    left: 15px;
    color: #354463;
}

.take_action {
    color: white;
    background-color: #354463;
    height: 30px;
    width: 170px;
    position: absolute;
    top: 505px;
    left: 130px;
    text-align: center;
    padding-top: 20px;
}

.container3 {
    background-color: #C1F7D5;
    width: 100vw;
    height: 40vh;
    position: absolute;
    top: 530px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    padding-top: 50px;
}

.container4 {
    background-color: #354463;
    position: absolute;
    height: 190vh;
    width: 100vw;
    position: absolute;
    top: 936px;
}

.What {
    background-color: white;
    height: 40px;
    width: 150px;
    position: absolute;
    top: 50px;
    left: 195px;
    text-align: center;
    padding-top: 18px;
}

.mission {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 120px;
    text-align: center;

}

.image1 {
    background-image: url("/Stylesheet/Image/tree-planting.png");
    background-repeat: no-repeat;
    height: 200px;
    width: 400px;
    position: absolute;
    top: 200px;
    left: 150px;
    margin-bottom: 0px;
}

.inside {
    background-color: white;
    height: 400px;
    width: 430px;
    position: absolute;
    top: 250px;
    left: 60px;
}

.inside_text1 {
    font-weight: bold;
    font-size: medium;
    position: absolute;
    top: 150px;
    text-align: center;
    left: 110px;
}

.inside_text2 {
    text-align: center;
    position: absolute;
    top: 190px;

}

.Read_more {
    background-color: #C1F7D5;
    border-color: #C1F7D5;
    border-style: solid;
    height: 40px;
    width: 150px;
    border-radius: 100px;
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 150px;
    cursor: pointer;

}

.inside_div {
    background-color: white;
    height: 400px;
    width: 430px;
    position: absolute;
    top: 750px;
    left: 60px
}

.inside_txt3 {
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 160px;
    left: 110px;
}

.image2 {
    background-image: url("/Stylesheet/Image/education-training.png");
    background-repeat: no-repeat;
    height: 200px;
    width: 400px;
    position: absolute;
    top: 700px;
    left: 150px;
}

.Take_action_button {
    background-color: #C1F7D5;
    border-color: #C1F7D5;

}

.inside_text4 {
    text-align: center;
    position: absolute;
    top: 200px;
}

.inside_button1 {
    background-color: #C1F7D5;
    border-color: #C1F7D5;
    border-style: solid;
    height: 40px;
    width: 150px;
    border-radius: 100px;
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 150px;
    cursor: pointer;
}

.inside_comtainer1 {
    background-color: white;
    height: 400px;
    width: 430px;
    position: absolute;
    top: 1250px;
    left: 60px;
}

.text5 {
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 160px;
    left: 110px;
}

.text6 {
    text-align: center;
    position: absolute;
    top: 200px;
    left: 10px;
}

.inside_button2 {
    background-color: #C1F7D5;
    border-color: #C1F7D5;
    border-style: solid;
    height: 40px;
    width: 150px;
    border-radius: 100px;
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 150px;
    cursor: pointer;

}

.image3 {
    background-image: url("/Stylesheet/Image/advocacy.png");
    background-repeat: no-repeat;
    height: 200px;
    width: 400px;
    position: absolute;
    top: 1200px;
    left: 150px;
}

.container5 {

    background-image: url("/Stylesheet/Image/Did\ you\ know\ background@2x.png");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 1738px;
    background-size: cover;
}

.Did {
    height: 30px;
    width: 150px;
    background-color: #354463;
    color: white;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 180px;
    left: 200px;

}

.Out {
    height: 150px;
    width: 400px;
    background-color: white;
    position: absolute;
    top: 200px;
    left: 80px;
}

.inner_out {
    font-weight: bold;
    padding-left: 30px;
    padding-top: 30px;
    font-size: 20px;
}

.inner_out1 {
    font-size: 15px;
    padding-left: 30px;

}

.million1 {
    height: 150px;
    width: 400px;
    background-color: white;
    position: absolute;
    top: 380px;
    left: 79px;
}

.inner_million {
    font-weight: bold;
    padding-left: 30px;
    padding-top: 30px;
    font-size: 20px;
}

.Peaople {
    font-size: 15px;
    padding-left: 30px;
}

.percentage {
    height: 150px;
    width: 400px;
    background-color: white;
    position: absolute;
    top: 560px;
    left: 80px;
}

.inner_percentage {
    font-weight: bold;
    padding-left: 30px;
    padding-top: 30px;
    font-size: 20px;
}

.inner_percentage1 {
    font-size: 15px;
    padding-left: 30px;
}

.million2 {
    height: 150px;
    width: 400px;
    background-color: white;
    position: absolute;
    top: 750px;
    left: 80px;
}

.inner_million2 {
    font-weight: bold;
    padding-left: 30px;
    padding-top: 30px;
    font-size: 20px;
}

.inner_million3 {
    font-size: 15px;
    padding-left: 30px;
}

.container6 {
    background-color: white;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 2670px;
}

.story_contains {
    background-color: #354463;
    color: white;
    height: 40px;
    width: 150px;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 170px;
    padding-top: 20px;

}

.Story_image {
    background-image: url("/Stylesheet/Image/lady-baby.png");
    background-repeat: no-repeat;
    height: 312px;
    width: 312px;
    /* background: transparent url('img/lady-baby.png') 0% 0% no-repeat padding-box; */
    position: absolute;
    top: 100px;
    left: 100px;

}

.Person {
    height: 212px;
    width: 312px;
    background-color: #354463;
    position: absolute;
    top: 450px;
    left: 100px;

}

.person_text {
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.person_button {
    background-color: #C1F7D5;
    border-color: #C1F7D5;
    border-style: solid;
    height: 40px;
    width: 150px;
    border-radius: 100px;
    position: absolute;
    text-align: center;
    bottom: 70px;
    left: 180px;
    cursor: pointer;

}

.container7 {
    background-color: #354463;
    height: 250vh;
    width: 100vw;
    position: absolute;
    top: 3500px;

}

.pragraph {
    color: white;
    text-align: center;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.Event {
    color: #354463;
    background-color: white;
    text-align: center;
    height: 35px;
    width: 180px;
    position: absolute;
    top: 170px;
    left: 180px;
    padding-top: 20px;
}

.Image {
    background-image: url("/tree-planting.png");
    background-repeat: no-repeat;
    width: 312px;
    height: 312px;
    position: absolute;
    top: 200px;
    left: 150px;
}

.Earth_day {
    color: white;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    position: absolute;
    top: 400px;
    left: 30px;
}

.Earth_day1 {
    color: #FFFFFF;
    background: transparent url('img/Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi felis, auctor vitae vestibulum vel, consequat eu dolor. Nam pellentesque euismod laoreet. Aliquam sed nisl porttitor nisl laoreet semper nec iaculis nibh. Curabitur in tortor lorem..png') 0% 0% no-repeat padding-box;
    text-align: center;
    position: absolute;
    top: 470px;
    padding-left: 30px;
    padding-right: 30px;

}

.Earth_button {
    text-align: center;
    background-color: #C1F7D5;
    border-color: #C1F7D5;
    border-style: solid;
    height: 40px;
    width: 150px;
    border-radius: 100px;
    position: absolute;
    text-align: center;
    bottom: 1350px;
    left: 180px;
    cursor: pointer;
}

.Latest_News {
    color: #354463;
    background-color: white;
    text-align: center;
    height: 35px;
    width: 180px;
    position: absolute;
    top: 670px;
    left: 180px;
    padding-top: 20px;

}

.Image_latest {
    background-image: url("/tree-planting.png");
    background-repeat: no-repeat;
    width: 312px;
    height: 312px;
    position: absolute;
    top: 700px;
    left: 150px;

}

.inner_earth1 {
    color: white;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    position: absolute;
    top: 970px;
    padding-left: 30px;
    padding-right: 30px;
}

.inner_earth2 {
    color: #FFFFFF;
    background: transparent url('img/Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi felis, auctor vitae vestibulum vel, consequat eu dolor. Nam pellentesque euismod laoreet. Aliquam sed nisl porttitor nisl laoreet semper nec iaculis nibh. Curabitur in tortor lorem..png') 0% 0% no-repeat padding-box;
    text-align: center;
    position: absolute;
    top: 1070px;
    padding-left: 30px;
    padding-right: 30px;

}

.Earth_Button2 {
    background-color: #C1F7D5;
    border-color: #C1F7D5;
    border-style: solid;
    height: 40px;
    width: 150px;
    border-radius: 100px;
    position: absolute;
    text-align: center;
    bottom: 750px;
    left: 180px;
    cursor: pointer;
}

.container8 {
    background-color: #C1F7D5;
    height: 50vh;
    width: 100vw;
    position: absolute;
    top: 5750px;
    padding-top: 20px;
}

.inner_container8 {
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    height: 78px;
    width: 322px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.input_bar {
    width: 192px;
    height: 40px;
    border-radius: 100px;
    border: none;
    text-align: center;
    margin-left: 30px;
}

.subscribe {
    background-color: #354463;
    height: 40px;
    width: 112px;
    font-weight: bold;
    border-radius: 100px;
    border: none;
    color: #C1F7D5;
    cursor: pointer;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #FFFFFF;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 5950px;
    margin-top: 20px;
}

.The_Green {
    grid-row: 1/2;
    grid-column: 1/2;
    margin-top: 50px;
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    padding-left: 20px;
    padding-right: 20px;
}

.contact {
    grid-row: 1/2;
    grid-column: 2/3;
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    margin-top: 50px
}

.follow {
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    padding-left: 20px;
    opacity: 1;
    margin-top: -120px;

}

.link4 {

    color: #354463;
}

.Learn {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    opacity: 1;
    margin-top: -120px
}

.Stop {
    grid-row: 3/4;
    grid-column: 2/3;
    font-family:Flood ;
    margin-right: 100px;
    width: 181px;
    height: 136px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 44px/46px Flood ;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}